.profile {
    margin: 2.5vh;
    flex: 30%;
}

.profile-image {
    height: 80vh;
    width: 100%;
    border-radius: 20px;
}

.biography-container {
    display: flex;
    align-items: center;
}

.biography {
    display: flex;
    flex-direction: column;
    flex: 70%;
    color: #52B2BF;
    margin: 2.5vh;
    align-items: center;
    padding: 1.5rem;
    border-radius: 20px;
}

.biography-title {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
    text-align: center;
}

.biography-content {
    font-size: 1.70vh;
    color: #52BF95;
    font-weight: bold;
}

@media (max-width:1250px) {
    .biography-container {
        flex-direction: column;
        align-items: normal;
        justify-content: center;
    }

    .biography {
        margin-top: 0;
    }
}