.biography-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05rem;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 12em;
    text-align: center;
    background: linear-gradient(#D5EFFC 65%, transparent 35%) no-repeat;
    margin-top: 0.1rem;
    padding-top: 2.25rem;
}

.profile-image {
    width: 16em;
    clip-path: circle();
}

.biography {
    display: flex;
    flex-direction: column;
    color: #52BF95;
    margin: 2.5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 0;
    align-items: center;
    padding: 1.5rem;
    border-radius: 20px;
}

.biography-title {
    font-size: 2.5rem;
    font-weight: 900;
    color: #C4DEEB;
    text-align: center;
}

.biography-subTitle {
    font-size: 1rem;
    font-weight: 900;
    color: black;
    text-align: center;
    padding: 1rem;
}

.biography-statement {
    font-size: 1rem;
    font-weight: 600;
    color: #A9AAB9;
    padding: 1rem;
    padding-top: 0rem;
    text-align: center;
}

.bio-line-break {
    width: 70%;
    color: black;
    background-color: black;
    opacity: 0.5;
    margin-bottom: 0;
}

.biography-contact {
    font-size: 1rem;
    font-weight: 800;
    color: #AFC9D6;
    margin: 1rem;
    text-decoration: none;
}

.biography-contact > .fa {
    box-shadow: none;
    padding: 0;
}

.biography-content {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    letter-spacing: normal;
}

@media (max-width:1060px) {
    .biography {
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .biography-subTitle {
        font-size: 0.9rem;
    }
}

@media (max-width: 700px) {
    .biography-subTitle {
        font-size: 0.75rem;
    }
}

@media (max-width: 700px) {
    .biography-statement {
        font-size: 0.8rem;
    }
}

@media (max-width: 610px) {
    .biography-subTitle {
        font-size: 0.56rem;
    }

    .biography-statement {
        font-size: 0.6rem;
    }
}