.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5vh;
}

.gallery-link {
    text-align: center;
    background-color: #52BF95;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    color: white;
    border-radius: 20px;
    line-height: 2rem;
    margin-bottom: 0.5vh;
    text-decoration: none;
    font-size: 0.9rem;
}

.gallery-link:hover {
    background-color: #52B2BF;
}

@media (max-width: 500px) {
    .gallery-link {
        font-size: 2.9vw;
    }
}

@media (max-width: 345px) {
    .gallery-link {
        font-size: 2.8vw;
        line-height: 1.8rem;
    }
}