.home-container {
    display: flex;
    align-items: center;
}

.carousel-image {
    height: 39vw;
    width: 100%;
    border-radius: 20px;
}

.carousel {
    flex: 65%;
    height: 39vw;
    margin: 2.5vh;
    box-shadow: 0 0 4px 0 rgba(82, 178, 191, 0.3);
    border-radius: 20px;
}

.mission-statement {
    display: flex;
    flex-direction: column;
    flex: 35%;
    color: #52B2BF;
    margin: 2.5vh;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(82, 178, 191, 1);
    border-radius: 20px;
    padding: 2rem;
}

.statement-title {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.05rem;
}

.statement-subTitle {
    margin-top: 0;
    text-align: center;
    color: #52BF95;
    letter-spacing: 0.05rem;
}

.statement-content {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
    padding: 0.5rem;
    padding-bottom: 0;
}

@media (max-width: 1500px) {
    .statement-content {
        font-size: 0.9vw;
    }
}

@media (max-width: 1330px) {
    .statement-content {
        font-size: 0.95vw;
    }
}

@media (max-width: 1200px) {
    .home-container {
        flex-direction: column;
        align-items: normal;
        justify-content: center;
    }

    .mission-statement {
        margin-top: 0;
    }

    .statement-content {
        font-size: 1rem;
    }

    .carousel-image {
        height: 70vw;
    }

    .carousel {
        height: 70vw;
    }
}